---
layout: default
title: tiep.me
---

<h2 class="heading">Hiện tại</h2>
<ul class="list list-items">
  <li>
    2006 ~ Tạo tài khoản <mark><a href="https://google.com/adsense">AdSense</a></mark>
    <div class="small">Phát triển Web đăng ký, Tên miền, Mail</div>
  </li>
  <li>
    2019 ~ Sáng lập trại thỏ <mark><a href="https://www.tiep.me/">tiep.me</a></mark>
    <div class="small">Nhà nông, Người chăn nuôi</div>
  </li>
  <li>
    2019 ~ Hiện nay đang sinh sống và làm việc tại Thái Bình, quê hương và là nơi sinh ra <mark><a href="https://vi.wikipedia.org/wiki/Thái_Bình">Thái Bình</a></mark>
    <div class="small">tìm hiểu thêm về quê tôi</div>
  </li>
</ul>

<h2 class="heading">Tài trợ và Donate</h2>
<ul class="list list-items">
  <li>VCB</li>
  <li>0281 000 538 644</li>
  <li>Phạm Xuân Tiếp</li>
  <li>Ngân hàng Vietcombank chi nhánh Thủ Dầu Một, Bình Dương</li>
  <li><a href="https://paypal.me/tiepdotme">Paypal</a></li>
</ul>

<h2 class="heading">Social &amp; Liên hệ</h2>
<ul class="list list-items">
  <li>
    <mark><a href="https://github.com/tiepdotme" rel="me">GitHub</a></mark>,
    <mark><a href="https://facebook.com/tiepdotme" rel="me">Facebook</a></mark>,
    <mark><a href="tel:0702227255" rel="me">070 222 7255</a></mark>
  </li>
  <li>Email is hi at this domain (hi@tiep.me)</li>
</ul>

<h2 class="heading">Notes</h2> <a class="small" href="/notes.xml">feed</a>
<ul class="list-notes">
  {% for note in site.data.notes limit: 5 %}
    <li class="note">
      <time class="small">{{ note.date | date: "%b %d, %Y" }}</time> <a href="/notes#date-{{ note.date | date: "%Y-%m-%d" }}{{ note.slug }}" class="small">#</a>
      <div>{{ note.content | markdownify }}</div>
    </li>
  {% endfor %}
</ul>

{% if site.data.notes.size > 5 %}
  <a class="small" href="/notes">Tất cả notes</a>
{% endif %}

<h3 class="no-span">Dành cho <span class="js-random-emoji">👀 </span><strong>Kinh nghiệm</strong></h3>
<h2 class="heading">Bài viết</h2> <a class="small" href="/feed.xml">feed</a>
<ul class="list-notes">
  {% for post in site.posts limit: 5 %}
    <li class="note">
      <time class="small">{{ post.date | date_to_string }}</time> <a href="{{ site.url }}{{ post.url }}" class="small"># {{ post.title }}</a>
      <div>{{ post.content | strip_html | truncatewords:75 }}</div>
    </li>
  {% endfor %}
</ul>

{% if site.posts.size > 5 %}
  <a class="small" href="/posts">Tất cả bài viết</a>
{% endif %}
