---
layout: default
title: Tất cả bài viết
---

<p><img width="100" src="/assets/valid-rss-rogers.png" alt="[Valid RSS]" valign="middle"> <a href="/feed.xml">feed</a></summary> is very valid.</p>

<ul class="list-notes">
  {% for post in site.posts %}
    <li class="note" id="date-{{ post.date | date_to_rfc822 }}">
      <time class="small">{{ post.date | date_to_string }}</time> <a href="{{ site.url }}{{ post.url }}" class="small">{{ post.title | xml_escape }}</a>
      <div></div>
    </li>
  {% endfor %}
  <!-- post list -->
{% for post in paginator.posts %}
<li><a href="{{post.url | prepend: site.baseurl}}"><h3>{{post.title}}</h3></a></li>
{% endfor %}


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</ul>
