<!doctype>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="me" href="https://micro.blog/tiepdotme">
    <link rel="alternate" type="application/rss+xml" href="/notes.xml">
    <link rel="shortcut icon" href="/assets/fav.png">
    <link rel="authorization_endpoint" href="https://github-indieauth.herokuapp.com/auth">
    <link rel="token_endpoint" href="https://github-indieauth.herokuapp.com/token">
    <link rel="micropub" href="https://muan-micropub.glitch.me/micropub">
    {% if page.date %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property="og:description">
      <meta content="article" property="og:type">
      <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
      {% if page.image %}
        <meta content="http://tiep.me/images/{{ page.image }}" property="og:image">
      {% endif %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
      <meta content="{{ site.title }}" property="og:title">
      <meta content="{{ site.url }}" property="og:url">
      <meta content="{{ site.description }}" property="og:description">
      <meta content="blog" property="og:type">
    {% endif %}
    <!-- - -->
  </head>
  <body>
    <input type="checkbox" id="dark-mode" class="dark-mode-checkbox" checked>
    <label class="dark-mode-label" for="dark-mode">
      <div class="dark-mode-inner-content">
        Dark mode
      </div>
    </label>
    <div class="theme">
      <header class="header">
        <h1 class="h1">
          <a href="/" class="no-underline">
            <img style="vertical-align:middle" id="image" /> 
            <strong>tiep.me</strong> <span class="js-random-emoji">👩🏻‍💻</span> <a class="small" href="/about/">hạng</a> <span class="js-random-emoji">💚</span> <a class="small" href="/adsense">Bán acc adsense</a>
          </a>
        </h1>
        <span style="font-size:11px;">Cái duyên cái số nó vồ lấy nhau - cadao</span>
      </header>
      <main class="wrapper">
        {% if page.date %}
          <article>
            <header class="post-header">
              <h2 class="post-title">{{ page.title }}</h2>
              {% if page.date %}
                <small>{{ page.date | date_to_string }}</small>
              {% endif %}
            </header>
            {{ content }}
          </article>
          <div class="pagination">
            {% if page.previous %}
              <div><a class="page-nav" href="{{ page.previous.url }}" id="js-previous-post">
                &lt; {{ page.previous.title }}
              </a></div>
            {% endif %}
            {% if page.next %}
              <div><a class="page-nav" href="{{ page.next.url }}" id="js-next-post">
                {{ page.next.title }} &gt;
              </a></div>
            {% endif %}
          </div>
        {% else %}
          {{ content }}
        </article>
        {% if page.previous or page.next %}
          <div class="pagination">
            {% if page.previous %}
              <div><a class="page-nav" href="{{ page.previous.url }}">
                &lt; {{ page.previous.title }}
              </a></div>
            {% endif %}
            {% if page.next %}
              <div><a class="page-nav" href="{{ page.next.url }}">
                {{ page.next.title }} &gt;
              </a></div>
            {% endif %}
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
      <noscript>
        HI! HI! HI! Unknown visitor with JavaScript disabled! Nice to meet you!
      </noscript>

      <footer>
          <h3 class="no-span">Dành cho <b>quảng cáo</b></h3>
          <div id="amzn-assoc-ad-94daf38b-d110-4b46-9aa5-821549d8ac34"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=94daf38b-d110-4b46-9aa5-821549d8ac34"></script>

          <p>Tự làm bằng <span class="js-random-emoji">💚</span> ở <img src="https://data.tiep.me/assets/img/icons/small/vn16x16.png"></img>.<br /> Bản quyền 2019-present của <mark><a class="small" href="https://www.tiep.me">tiep.me</a></mark> Hình ảnh và media, movie được lưu trữ tại <mark><a href="https://data.tiep.me">data.tiep.me</a></mark><br />Xây dựng tại <mark>Thái Bình</mark>.<br />Đình làng Tống Vũ, thôn Hòa Hải, xã Vũ Chính, Thành phố Thái Bình, tỉnh Thái Bình, Mã bưu điện 06120. <br />Trên <a href=""><span class="js-random-emoji">📍 </span>Google Maps</a></p>
    
    
        </footer>
    </main>

    <script src="/assets/stuff.js" type="text/javascript"></script>
    <link href="/assets/new.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cousine:400,700" rel="stylesheet" type="text/css">
    <script type="text/javascript">
      function track() {
        ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga')

        ga('create', 'UA-143765875-1', 'auto')
        ga('send', 'pageview')
      }

      if (navigator['doNotTrack'] !== '1') { track() }
    </script>
  </body>
</html>
